<%- include("partials/header.ejs") %>

<div class="row g-5 mx-3">
  <div class="col-md-8">
    <article class="blog-post">
      <% if (locals.blogsEjs.length === 0) { %>
        <p>There's nothing here...</p>
      <% } else { %>
        <h2 class="display-5 link-body-emphasis mb-1"><%= homePageBlogTitle %></h2>
        <p class="blog-post-meta"><%= homePageBlogDate %></p>
        
        <div style="white-space: pre-line;"><%= homePageBlogContent %></div>
        
      <% } %>
    <hr/>
    <form action="/submit" method="post" class="form">
      <div class="container d-flex align-items-center px-0">
        <input
        type="text" class="my-1.5 form-control" style="width: 80% !important"
        id="blogTitle" name="blogTitle"
        required minlength="5" maxlength="70" size="80" />
        <p class="mb-0 ms-2" id="characterCounter">70 characters left</p>
      </div>
      <textarea class="form-control my-1" id="blogContent" name="blogContent"></textarea>
      <input class="my-1" type="submit" value="Post" />
    </form>
  </div>

  <div class="col-md-4">
    <div class="position-sticky" style="top: 2rem">
      <div>
        <h4 class="fst-italic">Recent posts</h4>
        <% if (locals.blogsEjs.length === 0) { %>
          <p>There's nothing here...</p>
        <% } else { %>
          <ul class="list-unstyled">
            <% recentPostEjs.reverse().forEach(post => { %>
              <li id="post-<%= post.blogId %>">
                  <div class="col-lg-11">
                    <div class="d-flex justify-content-between">
                      <h6 class="mb-0"><b><%= post.title %></b></h6>
                      <div class="d-flex gap-2">
                        <a href="/edit/<%= post.blogId %>" class="btn-edit">
                          <button type="button" class="btn btn-secondary btn-sm" >
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                          <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"></path>
                          </svg>
                        </button>
                        </a>
                        <button type="button" class="btn btn-secondary btn-sm" 
                        onclick="deletePost(<%= post.blogId %>)">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"></path>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"></path>
                          </svg>
                        </button>
                      </div>
                    </div>
                    
                    <p><%= post.content %></p>
                    <small class="text-body-secondary"><%= post.timestamp %></small>
                  </div>
              </li>
            <% }); %>
          </ul>
        <% } %>
      </div>
    </div>
  </div>
</div>

<script>
  $("#blogTitle").on("input", function () {
    const length = $(this).val().length;
    $("#characterCounter").html((70 - length) + " characters left");
  });

  async function deletePost(id) {
    if (!confirm("Are you sure you want to delete it?")) {
      return;
    }

    try {
      const res = await fetch(`/post/${id}/delete`, {
        method: "POST"
      });

      if (res.ok) {
        // Remove the <li> from the current page
        const li = document.getElementById(`post-${id}`);
        if (li) li.remove();
      } else {
        alert("Fail to delete!");
      }
    } catch (err) {
      console.error(err);
      alert("Wrong request!");
    }
  }
</script>

<%- include("partials/footer.ejs") %>  
